/*Generales*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto 3rem;
    padding-top: 13rem;
    text-align: center;
}

.texto {
    font-size: 1.2rem;
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    text-shadow: 2px 2px 8px #dddddd;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}


/* barra de navegacion */

nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: #020524aa;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 3px 0 10px black;
}

nav div {
    display: inline-flex;
    justify-content: flex-end;
}

nav div a {
    display: block;
    background-color: #25091b;
    color: #dddddd;
    text-decoration: none;
    padding: .2rem 13px;
    margin: auto .5rem;
    border-radius: 7px;
    transition: all 350ms linear;
    box-shadow: 2px 2px 2px #dddddd inset, -2px -2px 4px #111111 inset;
}

nav div a:hover {
    background-color: #4a4a4a;
}

@media (max-width:490px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav div {
        flex-direction: column;
    }
    nav div a {
        margin: .2rem 6px;
        width: 10rem;
    }
}

#logo {
    margin: 0 5px;
    height: 35px;
    width: 45px;
}


/* fondo de pantalla */

.imag {
    background: url("../imgs/dust.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.opa {
    background-color: #eeeeeeaa;
    height: 100vh;
    width: 100vw;
}

.opa2 {
    background-color: #eeeeeeaa;
}


/*sombra exclusiva del titulo*/

#text_home {
    color: #111111;
    text-shadow: 3px 4px 4px #333333;
}


/*formulario*/

form {
    margin: 0 auto 2rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid #888888;
    border-radius: 1rem;
    box-shadow: 0 0 2px black, 5px 3px 8px 3px gray, 2px 8px 5px darkslategray;
}

input:focus,
textarea:focus {
    border-color: #000;
}

#fondo {
    background-color: #dddddd;
}

@media (max-width:875px) {
    .flex {
        flex-direction: column;
    }
}


/*posición de la foto*/

.foto {
    display: block;
    margin: 1rem auto;
    width: 16rem;
}


/*Animación mago*/

.mage {
    position: fixed;
    bottom: 0;
    animation: mover 15s linear infinite;
}

.move {
    animation: andar 800ms infinite;
}

@keyframes mover {
    0% {
        left: 0;
    }
    50% {
        left: 99%;
        transform: rotateY(0deg);
    }
    51% {
        transform: rotateY(180deg);
    }
    99% {
        transform: rotateY(180deg);
    }
    100% {
        left: 0;
    }
}

@keyframes andar {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}