/*Generales*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto 1.5rem;
    padding-top: 4rem;
    text-align: center;
}

.texto {
    font-size: 1.2rem;
    background-color: #ffffff88;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text_home {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dddddd;
    text-shadow: 3px 4px 4px #333333;
    font-family: 'Lobster', fantasy;
}

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px 10px 0;
}

#medio {
    padding-top: 18rem;
}


/* barra de navegacion */

nav {
    display: flex;
    justify-content: space-between;
    width: 60px;
    background-color: #020524aa;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 3px 0 10px black;
    transition: width 350ms ease-in-out;
}

nav:hover {
    width: 100%;
}

nav div {
    display: flex;
    justify-content: flex-end;
}

.nav-btn {
    display: block;
    background-color: #25091b;
    color: #dddddd;
    text-decoration: none;
    padding: .2rem 13px;
    margin: auto .5rem;
    border-radius: 7px;
    transition: background-color 350ms linear;
    box-shadow: 2px 2px 2px #dddddd inset, -2px -2px 4px #111111 inset;
}

.nav-btn:hover {
    background-color: #4a4a4a;
    cursor: pointer;
}

#logo {
    margin: 0 5px;
    height: 35px;
    width: 45px;
}


/* fondo de pantalla */

.imag {
    background: url("../imgs/dust.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.opa {
    background-color: #eeeeeeaa;
    height: 100vh;
}

.opa2 {
    background-color: #eeeeeeaa;
}


/*Habilidades*/

.hab {
    display: flex;
    flex-direction: column;
}

.hab2 {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-around;
}

.iconos {
    width: 5rem;
}

.progress {
    width: 70%;
    border: 1px solid #222222;
    background-color: rgb(243, 239, 202);
}

.transi {
    transition: width 1s ease-in;
}

#uno,
#dos,
#tres,
#cuatro,
#cinco,
#seis,
#siete,
#ocho,
#nueve {
    width: 0;
}

.hab2:hover>.progress>#uno {
    width: 10%;
}

.hab2:hover>.progress>#dos {
    width: 20%;
}

.hab2:hover>.progress>#tres {
    width: 30%;
}

.hab2:hover>.progress>#cuatro {
    width: 40%;
}

.hab2:hover>.progress>#cinco {
    width: 50%;
}

.hab2:hover>.progress>#seis {
    width: 60%;
}

.hab2:hover>.progress>#siete {
    width: 70%;
}

.hab2:hover>.progress>#ocho {
    width: 80%;
}

.hab2:hover>.progress>#nueve {
    width: 90%;
}


/*formulario*/

form {
    margin: 0 auto 2rem;
    width: 330px;
    padding: 1rem;
    border: 1px solid #888888;
    border-radius: 1rem;
    box-shadow: 0 0 2px black, 5px 3px 8px 3px gray, 2px 8px 5px darkslategray;
}

input:focus,
textarea:focus {
    border-color: #25091b;
}

#fondo {
    background-color: #dddddd;
}


/*foto principal*/

.foto {
    display: block;
    margin: 1rem auto;
    width: 16rem;
}


/*onda aleatoria*/

#onda {
    visibility: hidden;
    position: fixed;
    background-color: rgba(68, 4, 68, 0.863);
}


/*Animación mago*/

.mage {
    position: fixed;
    bottom: 0;
    animation: mover 13s linear infinite;
}

.move {
    animation: andar 800ms infinite;
}

@keyframes mover {
    0% {
        left: 0;
    }
    50% {
        left: 90vw;
        transform: rotateY(0deg);
    }
    51% {
        transform: rotateY(180deg);
    }
    99% {
        transform: rotateY(180deg);
    }
    100% {
        left: 0;
    }
}

@keyframes andar {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@media (max-width:800px) {
    .flex {
        flex-direction: column;
    }
    .mage {
        animation: mover 7s linear infinite;
    }
    .hab2 {
        width: 80%;
    }
}

@media (max-width:490px) {
    nav {
        align-items: center;
        width: 100%;
        height: 50px;
        transition: height 350ms ease-in-out;
    }
    nav:hover {
        height: 14rem;
    }
    nav div {
        flex-direction: column;
    }
    .nav-btn {
        margin: .2rem 6px;
        width: 9.5rem;
        position: relative;
        top: -100px;
        text-align: right;
        visibility: collapse;
        transition: all 350ms ease-in;
    }
    nav:hover>div>.nav-btn {
        visibility: visible;
        top: 0;
    }
    ul.texto {
        font-size: 1rem;
        line-height: 2rem;
    }
    h1 {
        padding-top: 13.3rem;
    }
    .progress {
        width: 90%;
    }
}