* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, Times, serif;
    color: #222222;
    background-color: #dddddd;
}

h1 {
    margin: 11rem auto 3rem;
    text-align: center;
}

nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: #020524aa;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 3px 0 10px black;
}

nav div {
    display: inline-flex;
    justify-content: flex-end;
}

nav div a {
    display: block;
    background-color: #25091b;
    color: #dddddd;
    text-decoration: none;
    padding: .1rem 10px;
    margin: auto .5rem;
    border-radius: 7px;
    transition: all 300ms linear;
    box-shadow: 2px 2px 2px #dddddd inset, -2px -2px 4px #111111 inset;
}

nav div a:hover {
    background-color: #4a4a4a;
}

@media (max-width:490px) {
    nav {
        flex-direction: column;
    }
    nav div {
        flex-direction: column;
    }
    nav div a {
        margin: .2rem 6px;
    }
}

footer {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    background-color: #222222aa;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    color: #dddddd;
}

.texto {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.sec {
    flex-direction: row-reverse;
}

@media (max-width:875px) {
    .flex {
        flex-direction: column;
    }
}

form {
    margin: 0 auto 2rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid #888888;
    border-radius: 1rem;
    box-shadow: 0 0 2px black, 5px 3px 8px 3px gray, 2px 8px 5px darkslategray;
}

input:focus,
textarea:focus {
    border-color: #000;
}

.flex_ar {
    display: flex;
    justify-content: space-around;
}

#img {
    background-color: initial;
    background: url("../imgs/main.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#text_home {
    color: white;
    text-shadow: 0 0 4px #222222, 2px 2px 8px #dddddd;
}

#logo {
    margin: 0 5px;
    height: 35px;
    width: 35px;
}